@keyframes blockfall{
    0% {transform: translateY(-800px) rotate(5deg)}
    90% {transform: translateY(20px) rotate(5deg)}
    100% {transform: translateY(0px) rotate(0deg)}
  }
  
  /* https://colorhunt.co/palette/206889 */
  
  body{
    background-color: #726a95;
  }
  .fall-holder{
    width: 500px;
    height: 620px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #709fb0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
  }
  .fall-block{
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #f4ebc1;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    display: inline-block;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    opacity: 0;
    transition: .2s ease;
  }
  .fall-block:hover{
    transform: scale(1.1, 1.1);
  }
  .fall-block:active{
    transform: scale(1, 1)
  }